.rowTarif {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 10px;
}
.columnTarif {
    width: 50%;
}
.inputTarif {
    width: 150px;
    padding: 5px;
}
.rowDroit {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
.columnDroitNom {
    width: 20%;
    font-weight: bold;
}
.columnDroitListe {
    width: 40%;
}
.columnDroitAction {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.formDroitAction {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.w100 {
    width: 100%;
}
.columnDroitItems {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: small;
}
.columnDroitItem {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.adminPrimary {
    background-color: #003d77;
    color: #fff;
    padding: 5px 10px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    border: none;
}
.adminDanger {
    background-color: #58151c;
    color: #fff;
    padding: 5px 10px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    border: none;
}
.adminSuccess {
    background-color: #0a3622;
    color: #fff;
    padding: 5px 10px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    border: none;
}
.adminWarning {
    background-color: #fd7e14;
    color: #000;
    padding: 5px 10px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    border: none;
}
 .adminYellow{
     background-color: #ffc107;
     color: #000;
     padding: 5px 10px;
     font-weight: 600;
     cursor: pointer;
     outline: none;
     border: none;
 }
.deleteDroit {
    color: #500;
    margin-left: 10px;
    cursor: pointer;
}
.inputFormAction {
    width: 250px;
    margin-top: 10px;
    padding: 5px;
}
.selectFormAction {
    padding: 5px;
}
.btnSmall {
    font-size: 0.7rem;
    display: block;
    text-align: center;
    width: max-content;
    border-radius: 5px;
}
.btnMedium {
    font-size: 0.9rem;
    display: block;
    text-align: center;
    width: max-content;
    border-radius: 5px;
}
.flexEnd {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 30px;
}
.formUnitAdmin {
    width: 90%;
}
.formValueAdmin {
    /*background-color: white !important;*/
    /*border-bottom: 1px solid grey !important;*/
    /*min-width: 250px;*/
}
.w75 {
    width: 75%;
}
.indicatif {
    /*padding: 1px 8px;*/
    /*font-size: 0.9rem;*/
    /*border: none;*/
    /*background: grey;*/
    /*color: white;*/
    /*width: max-content;*/
    color: #003d77;
    background-color: #cce3f9;
    padding: 05px;
    border-radius: 5px 0 0 5px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    z-index: 0;
    right: -3px;
    position: relative;
    /* top: 1px; */
    border: 1px solid #b3b3b3;
    border-right: none;
    padding-right: 8px;
}
.helper {
    margin-left: 165px;
    font-size: small;
    color: brown;
    font-style: italic;
}
.d-none-admin {
    display: none !important;
}
/*.modalEdit {*/
/*    left: 50%;*/
/*    top: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*    position: fixed;*/
/*    background-color: white;*/
/*    border: 1px solid #ccc;*/
/*    padding: 20px;*/
/*    min-width: 600px;*/
/*}*/
/*.modalEditHeader {*/
/*    margin-bottom: 10px;*/
/*    padding-bottom: 10px;*/
/*    border-bottom: 1px solid #ccc;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*}*/
/*.modalEditTitle {*/
/*    font-weight: bold;*/
/*    font-size: 1.2rem;*/
/*}*/
/*.modalEditClose {*/
/*    cursor: pointer;*/
/*}*/
