.alertDanger {
    background-color: #f8d7da;
    color: #58151c;
    border-left: 5px solid #f1aeb5;
    padding: 20px;
    width: max-content;
    margin: 50px auto 0px;
}
.alertSuccess {
    background-color: #d1e7dd;
    color: #0a3622;
    border-left: 5px solid #a3cfbb;
    padding: 20px;
    width: max-content;
    margin: 50px auto 0;
}
.alertInfo {
    background-color: rgba(0,61,119, 0.2);
    color: #003d77;
    border-left: 5px solid rgba(0,61,119, 0.5);
    padding: 20px;
    width: max-content;
    margin: 0px auto 20px;
}
.previousPage {
    margin-left: 25px;
}
.mt10 {
    margin-top: 10px;
}

.rowForColumns {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}
.column50 {
    width: 50%;
}
.mb25 {
    margin-bottom: 25px;
}
