.alertDanger {
    background-color: #f8d7da;
    color: #58151c;
    border-left: 5px solid #f1aeb5;
    padding: 20px;
    width: max-content;
    margin: 20px auto 0px;
    max-width: 100%;
}
.alertSuccess {
    background-color: #d1e7dd;
    color: #0a3622;
    border-left: 5px solid #a3cfbb;
    padding: 20px;
    width: max-content;
    margin: 20px auto 0;
    max-width: 100%;
}
.alertInfo {
    background-color: rgba(0,61,119, 0.2);
    color: #003d77;
    border-left: 5px solid rgba(0,61,119, 0.5);
    padding: 20px;
    width: max-content;
    margin: 0px auto 20px;
}
.infoSuccess {
    background-color: #a3cfbb;
    color: #0a3622;
    padding: 20px;
    width: max-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    display: none;
}
.previousPage {
    margin-left: 25px;
}
.mt10 {
    margin-top: 10px;
}

.rowForColumns {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}
.column50 {
    width: 50%;
}
.mb25 {
    margin-bottom: 25px;
}

.mb0 {
    margin-bottom: 0;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.8em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 100%;
}
.styled-table thead tr {
    background-color: #003d77;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
.styled-table tbody tr:nth-of-type(even) {
    background-color: rgba(0,61,119, 0.2);
}
.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #003d77;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #003d77;
}
.modalEdit {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    min-width: 600px;
    max-width: 1000px;
    z-index: 100;
}
.modalEditHeader {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modalEditTitle {
    font-weight: bold;
    font-size: 1.2rem;
}
.modalEditClose {
    cursor: pointer;
}
.modalEditBody {
    overflow: scroll;
    max-height: 50vh;
}
.modalEditFooter {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.statutClub.green {
    background-color: #99d59a !important;
}
.statutClub.orange {
    background-color: #e28a2d !important;
}
.statutClub.yellow {
    background-color: #f1e205 !important;
}
.statutClub {
    padding: 5px 10px;
    /*margin-bottom: 20px;*/
    background-color: #7c7b7b;
    display: flex;
    justify-content: center;
    margin-right: 10px;
    border-radius: 5px;
}
.justify-around {
    justify-content: space-around;
}
.flex-1 {
    flex: 1;
}
.flex-2 {
    flex: 2;
}
.small {
    font-size: 0.9rem;
}
.line-bordereau {
    line-height: 1.8rem;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    margin-top: 5px;
}
