/*****************************************************  */
/* global */
/*****************************************************  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    overflow-x: hidden;
}

h1 {
    color: #003d77;
    font-weight: 300;
    font-size: 2.5em;
}

.pageCanva {
    min-height: calc(100vh - 70px);
    width: 100%;
    padding: 59px 6.5% 6.5% 6.5%;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
}

.mt25 {
    margin-top: 25px;
}

.mr25 {
    margin-right: 25px !important;
}

.mr10 {
    margin-right: 10px !important;
}

.uppercase {
    text-transform: uppercase;
}

.blue {
    color: #003d77;
}

.grey {
    color: gray;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underline {
    position: relative;
}

.underline::after {
    position: absolute;
    background-color: #1a1a1a;
    width: 100%;
    height: 1px;
    bottom: 2px;
    right: 0;
    content: "";
}

.relative {
    position: relative;
}

.underlineBlue::after {
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 2px;
    right: 0;
    content: "";
    background-color: #003d77;
}

.underlineGrey::after {
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 2px;
    right: 0;
    content: "";
    background-color: #9d9b9b;
}

.dark {
    font-weight: 600;
}

.capitalize {
    text-transform: capitalize;
}

.pageTitle {
    padding-top: 20px;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(1.9375rem, 1.825rem + 0.5625vw, 2.5rem);
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.d-none {
    display: none !important;
}

.flex-column {
    flex-direction: column;
}

.center {
    justify-content: center !important;
    align-items: center !important;
}

.d-flex {
    display: flex;
}

.pagination {
    display: flex;
    margin-top: 20px;
    margin-bottom: 30px;
}

.align-start {
    align-items: flex-start !important;
}

.justify-start {
    justify-content: flex-start !important;
}

.pagination li {
    list-style: none;
    color: #3a3a3a;
    margin: 0 3px;
    padding: 5px;
    font-size: 18px;
}

.pagination li.disabled {
    color: #9a9a9a;
}

.pagination li.active {
    color: #003d77;
    font-weight: 500;
}

.w100 {
    width: 100%;
}

.mx16 {
    margin-right: 16px !important;
    margin-left: 16px !important;
}

.pointer {
    cursor: pointer;
}

.primary {
    background-color: #003d77 !important;
    color: white;
}

.success {
    background-color: #38a449 !important;
    color: white;
}

.danger {
    background-color: #ce5b5b !important;
    color: white;
}

.attention {
    background-color: #e08a15 !important;
    color: white;
}

.ml0 {
    margin-left: 0 !important;
}

.btnSmall {
    font-size: 0.7rem !important;
    display: block;
    text-align: center;
    width: max-content !important;
    height: max-content !important;
}

.flexWrap {
    flex-wrap: wrap;
}

.flex {
    display: flex;
}

.items-center {
    justify-items: center;
}

.justify-between {
    justify-content: space-between;
}

/* laravel > 5.1  */
.pagination nav {
    flex-direction: column;
}

.pagination nav div:nth-child(2) div:nth-child(1) {
    display: none;
}

.pagination nav div:nth-child(2) div:nth-child(2) span:nth-child(1) {
    display: flex;
}

.pagination nav div:nth-child(2) div:nth-child(2) span:nth-child(1) svg {
    height: 30px;
}

.pagination nav div:nth-child(2) div:nth-child(2) span:nth-child(1) > a, .pagination nav div:nth-child(2) div:nth-child(2) span:nth-child(1) > span {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
}

.styled-table th, .styled-table td {
    /*text-align: center;*/
}

/*.pagination nav  div:nth-child(2) div:nth-child(2) span:nth-child(1) >  span{*/
/*    */
/*}*/
/*****************************************************  */
/* modal */
/*****************************************************  */
.modalBackground {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.59);
    cursor: pointer;
    z-index: 10000;
}

body.modalVisible {
    overflow: hidden;
}

body.modalVisible .modalBackground {
    display: flex;
}

.modalWrapper {
    background-color: white;
    padding: 20px;
    border-radius: 3px;
    position: relative;
    cursor: default;
    width: min(80%, 500px);
    height: 400px;
    max-height: min(80%, 400px);
    overflow-y: scroll;
}

.modalWrapper .close {
    cursor: pointer;
    background-color: #003d77;
    padding: 3px;
    position: absolute;
    right: 10px;
    top: 10px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    z-index: 9;
}

.modalWrapper .close .clickable {
    position: absolute;
    right: 0;
    top: 0;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    z-index: 10;
}

.modalWrapper .line {
    background-color: white;
    border-radius: 3px;
    height: 3px;
    width: 15px;
    transform-origin: center;
}

.modalWrapper .line:nth-child(1) {
    transform: rotate(45deg) translate(6px, 4px);;
}

.modalWrapper .line:nth-child(2) {
    transform: rotate(-45deg) translate(-2px, 4px);
}

.modalContent {
    padding: 15px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 100%;*/
    /*max-height: 100%;*/
    width: 100%;

}

/*****************************************************  */
/* modal mail style*/
/***************************************************** */
body.mail {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    max-width: 100%;
    overflow: hidden;
    max-width: min(750px, 100%);
    margin: auto;
}

.mail .mainContent {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 20px 0;
}

.mail .authLogo {
    margin: 0 auto;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: max-content;
}

.mail .authLogo img {
    object-fit: contain;
    height: 60px;
}

.mail .borderTop {
    height: 30px;
    background-color: #003d77;
    -webkit-box-shadow: 0px 5px 25px 0px rgba(45, 46, 92, 0.15);
    box-shadow: 0px 5px 25px 0px rgba(45, 46, 92, 0.15);
    width: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
}

.mail footer {
    position: relative;
    background-color: #e2e2e2;
    color: #212121d4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 13px;
    width: 100%;
    margin-top: 20px;
}

.mail .header {

}

.mail .coords {
    font-size: small;
}

.mail .coords a {
    color: inherit;
}

.mail .header .topTitle {
    font-size: small;
    max-width: 130px;
    text-align: center;
    font-weight: 600;
    color: #3c3c3c;
}

/*    style other mails*/
.mail .mailContent {
    padding: 10px;
    margin: 20px 0;
}

.mail .mailContent .text {
    font-size: 16px;
}

.mail .mailContent .link {
    /*font-weight: 600;*/
}

.mail .mailContent .notWorking {
    color: #9a9a9a;
    font-size: 14px;
    margin-top: 15px;
}

/*****************************************************  */
/* hamburger */
/*****************************************************  */
.hamburger {
    position: fixed;
    width: 50px;
    height: 37px;
    left: 30px;
    top: 30px;
    z-index: 1020;
    cursor: pointer;
}

.hamburger .wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

.hamburger .line {
    position: absolute;
    width: 100%;
    height: 5px;
    top: 0;
    background: #003d77;
    border-radius: 2px;

}

.hamburger .line:nth-child(2) {
    top: 16px;
}

.hamburger .line:nth-child(3) {
    top: 32px;
}

.hamburgerIcon {
    display: none;
}

.topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: white;
    -webkit-box-shadow: 0px 5px 25px 0px rgba(45, 46, 92, 0.15);
    box-shadow: 0px 5px 25px 0px rgba(45, 46, 92, 0.15);
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 250px;
    font-size: 14px;
}

.topbarLogin {
    width: 100%;
    height: 50px;
    background-color: white;
    -webkit-box-shadow: 0px 5px 25px 0px rgba(45, 46, 92, 0.15);
    box-shadow: 0px 5px 25px 0px rgba(45, 46, 92, 0.15);
    z-index: 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.logoLogin {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
}

.logoLogin img {
    object-fit: contain;
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.userAccount {
    margin-right: 20px;
    display: flex;
    margin-left: 20px;
    font-weight: 500;
    color: #3c3c3c;
    cursor: pointer;
    text-transform: capitalize;
}

.userAccount .dropdown {
    font-size: 13px;
    width: 187px;
}

.useAccountIcon {
    margin-left: 10px;
}

.actionsTopbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 20px;
}

.actionTopbar {
    margin-left: 20px;
    color: #003d77;
    cursor: pointer;
}

/*****************************************************  */
/* main background */
/*****************************************************  */
.mainContainer {
    /*background: linear-gradient(88.61deg, #FFFFFF -0.22%, #EFF4FD 17.71%, #DDE8FB 38.5%);*/
    background: #f5f5f9;
    min-height: calc(100vh - 70px);
    width: 100vw;
    padding-left: 250px;
    position: relative;

}

.mainContainer.fullWidth {
    padding: 0 13px 10px;
}

.mainContainer.fullHeight {
    /*height: calc(100vh - 120px);*/
    min-height: calc(100vh - 120px);
    height: auto;
}

@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-3000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

/*****************************************************  */
/*welcome page*/
/*****************************************************  */
.welcomePage {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*****************************************************  */
/* navbar */
/*****************************************************  */
.navbar {
    position: fixed;
    height: calc(100vh - 50px);
    top: 50px;
    width: min(250px, 100%);
    z-index: 900;
    transition: 1s ease-in-out;
    background-color: #003d77;
    box-shadow: 4px 0px 12px 0px rgba(45, 46, 92, 0.15);
}

.navbarWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 30px;
}

.navbarWrapper .top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    /*padding-right: 15px;*/
}

.navbarWrapper .top .logo {
    width: 100px;
    height: 100px;
}

.navbarWrapper .top .logo img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.logoMobile {
    display: none;
}

.topbar .searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 35px;
}

.searchContainer .foster {
    font-size: 16px;
    color: #003d77;
    margin-right: 15px;
    transition: opacity 1s ease, transform 1s ease;
    overflow: hidden;
    transform: translateX(0);
    width: 110px;
    opacity: 1;
}

.searchContainer.searching .foster {
    width: 0;
    opacity: 0;
    transform: translateX(-100vw);
}

.searchBoxContainer .icon {
    text-align: center;
    font-size: 12px;
    color: #4E4E4E;
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.searchBoxContainer .icon svg {
    height: 25px;
}

.searchBoxContainer .searchBtn svg {
    height: 25px;
    cursor: pointer;
}

.searchBoxContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBoxContainer .searchItem {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
}

.searchBoxContainer .searchItem .searchBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0;
    overflow: hidden;
    transition: width 0.7s ease;
}

.searchItem .label {
    min-width: 84px;
    overflow: hidden;
}

.searchBoxContainer .searchItem.active .searchBox {
    width: 220px;
}

.searchBox input {
    font-size: 12px;
    border: none;
    border-bottom: 1px solid #4E4E4E;
    outline: none;
    background-color: transparent;;
    margin-right: 7px;
    text-align: center;
}

.searchBox input.length2 {
    width: 30px;
}

.searchBox input.length4 {
    width: 62px;
}

.searchItem .searchBtn {
    width: 0;
    overflow: hidden;
    transition: width 0.7s 0.2s ease;
}

.searchItem.active .searchBtn {
    width: 43px;
}

.searchContainer.searching .searchItem {
    transform: translateY(-100px);
}

.searchContainer.searching .searchItem .icon {
    transition: all 1s ease;
    overflow: hidden;
    width: 0;
}

.searchContainer.searching .searchItem.active {
    transform: translateY(0);
}

.searchContainer.searching .searchItem.active .icon {
    width: 90px;
}

.topTitle {
    font-size: small;
    color: white;
    margin-left: 10px;
}

.coords {
    font-size: small;
    color: white;
}

.coords a {
    text-decoration: none;
    color: inherit;
}

.navbarWrapper .bottom {
    width: 100%;
    /*height: calc(100% - 57px);*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

/*.memberCard {*/
/*    background-color: #e0dfdf;*/
/*    padding: 10px;*/
/*    width: 100%;*/
/*    margin-bottom: 10px;*/
/*    font-size: 0.8rem;*/
/*    margin-top: 10px;*/
/*}*/
.memberCard {
    background-color: #e0dfdfe5;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    font-size: 0.8rem;
    margin-top: 10px;
    color: #003d77;
    border-radius: 5px;
}

.memberCardTop {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.memberCardRight {
    text-align: right;
}

.memberCardRight :first-child {
    font-weight: 700;
}

.memberCardBottom {
    margin-top: 5px;
    font-weight: 500;
    color: black;
    font-size: 12px;
    text-align: right;
    position: relative;
}

.fosterChange {
    cursor: pointer;
}

.memberCardRight {
    padding-left: 10px;
    font-size: 0.8rem;
}

.navbar .featuresWrapper {
    height: calc(0.3 * (100% - 57px));
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.featuresWrapper .name .welcome {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}

.featuresWrapper .name .welcome span {
    font-weight: 600;
    font-style: italic;
}


.navbar .menu {
    height: calc(0.7 * (100% - 57px));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.leftMenu {
    margin-top: 20px;
    list-style-type: none;
    color: white;
    text-transform: uppercase;
}

.leftMenuItem {
    margin-bottom: 10px;
    padding: 0;
    font-weight: 600;
    position: relative;
    transition: all 0.2s ease;
}

.leftMenuItem::before {
    height: 100%;
    width: 3px;
    position: absolute;
    top: 0;
    left: -4px;
    background-color: rgba(209, 209, 209, 0.7);
    content: "";
    border-radius: 2px 0 0 2px;
    transition: transform 0.2s ease, opacity 350ms linear;
    transform: translateX(-50px);
    opacity: 0;
}

.leftMenuItem:hover::before {
    transform: translateX(0);
    opacity: 1;
}

.leftMenuItem:hover {
    background-color: rgba(0, 0, 0, 0.27);
    transform: translateX(-4px);
}

.leftMenuItem a {
    text-decoration: none;
    color: inherit;
    padding: 10px 15px;
    display: block;
}


/*****************************************************  */
/* dropdown */
/*****************************************************  */

.dropdownParent {
    position: relative;
}

.dropdown {
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0px 5px 25px 0px rgba(45, 46, 92, 0.15);
    border-radius: 6px;
    padding: 10px 0;
    color: #424242;
    transition: transform 0.2s ease, opacity 0.2s ease, visibility 0.2s ease, height 1s ease;
    transform: translateY(0);
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    height: 0;
}

.dropdown li {
    list-style: none;

    transition: all 0.1s ease;
}

.dropdown li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.dropdown li a {
    padding: 4px 15px;
    cursor: pointer;
    display: block;
}

.dropdownParent.active .dropdown {
    transform: translateY(calc(100% + 15px));
    opacity: 1;
    visibility: visible;
    height: auto;
}

/*****************************************************  */
/* formation page */
/*****************************************************  */
.formationsPage .card .cardSubTitle {
    margin-top: 15px;
    color: rgb(27, 59, 120);
    background-color: white;
    padding: 15px 20px;
}

.card .type {
    font-weight: 300;
    margin-top: 10px;
    font-style: italic;
    color: white;
}

.cardSubTitle .featureTitle {
    font-weight: 300;
    margin-right: 10px;
}

/*****************************************************  */
/* cards */
/*****************************************************  */
.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.cardContainer .card {
    min-height: 250px;
    width: 280px;
    margin: 35px;
    position: relative;
}

.cardContainer .card .wrapper {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgb(27, 59, 120);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(3px);
    cursor: pointer;
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
    flex-direction: column;
    padding: 30px;
}

.cardContainer .card:hover .wrapper {
    /*border: 1px solid rgb(81, 81, 81);*/
    background: rgb(81, 81, 81);
}

/*.cardContainer .card:hover .cardTitle, .cardContainer .card:hover .cardSubTitle,.cardContainer .card:hover .type{*/
/*    color:#657eaa ;*/
/*}*/
.cardContainer .cardTitle {
    font-weight: 600;
    font-size: clamp(1.125rem, 1.0375rem + 0.4375vw, 1.5625rem);
    letter-spacing: 0.12em;
    color: white;
    font-size: 19px;
}

.card.invisible, .card.invisible .wrapper {
    opacity: 0;
    box-shadow: none;
    cursor: auto !important;
    height: 0;
    min-height: 0;

}

.card.invisible {
    margin-top: 0;
    bottom: 0;
}

/*****************************************************  */
/* authentification */
/*****************************************************  */
.authWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 120px);
    height: 100%;
    color: #1e1e1e;
    overflow-y: scroll;
}

.fosterRegister {
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 255px;
    padding: 20px;
    border-radius: 5px;
    background-color: #898989;
    font-size: 15px;

}

.fosterRegister.light {
    color: #3a3a3a;
    background-color: transparent;
    max-width: none;
    font-size: 16px;
}

.fosterRegister.text {
    max-width: min(950px, 100%);
}

.fosterRegister.light a {
    color: #003d77;
    margin-top: 5px;
}

.fosterRegister .foster {
    max-width: min(100%, 500px);
}

.fosterRegister a {
    /*color: #003d77;*/
    font-weight: 500;
    text-decoration: underline;
}

.firstConnexion {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #161616;
    background-color: #8ACC8C;
    padding: 20px;
    text-align: center;
    max-width: 255px;
    border-radius: 5px;
}

.fosterContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15px;
    font-size: 15px;
}

.fosterContainer .separator {
    font-size: 18px;
    margin: 15px;
    width: 15px;
}

.authLogo {
    height: 48px;
    margin: 20px 0;
}

.authTitle {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.authLogo img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

/*****************************************************  */
/* forms */
/*****************************************************  */
.authForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.authForm .separator {
    height: 2px;
    width: min(250px, 25%);
    /*background-color: #707070;*/
    border-radius: 5px;
    margin: 5px auto;
}

.doubleInput {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.customField {
    display: flex;
    flex-direction: column;
    width: max-content;
    position: static;
    max-width: min(280px, 100%);
    /*width: 100%;*/
    width: 250px;
    margin: 0 10px;
}

.customField label {
    font-size: 0.8rem;
    color: #003d77;
    font-weight: 700;
    position: relative;
    top: 0.5rem;
    margin: 0 0 0 7px;
    padding: 0 3px;
    background: #f5f5f9;
    width: max-content;
    z-index: 10;
}

.customField input {
    padding: 11px 10px;
    font-size: 0.75rem;
    border: 2px #003d77 solid;
    border-radius: 5px;
    background: #f5f5f9;
    width: 100%;
    cursor: text;
}

.customField input:focus {
    outline: none;
}

.customField .group input {
    padding-right: 50px;
}

.customField .group {
    position: relative;
}

.customField .group .icons {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
}

.customField .group .icons.eye {
    cursor: pointer;
}

.customField .group .icon {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 5px 5px 0;
    border: 2px #003d77 solid;
}

.customField svg path {
    stroke: #003d77 !important;
}

.customField .dark svg path {
    stroke: #f5f5f9 !important;
}

.customField .dark {
    background-color: #003d77;
    color: white;
}

.customField .error {
    font-size: 13px;
    color: indianred;
    opacity: 0;
}

.instructions {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 250px;
}

.instructions .text {
    text-align: center;
}

.instructions .list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
}

.instructions .list .item {
    font-size: 13px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.instructions .list .item.ok {
    color: #55B074;
}

.instructions .checkedBox svg path {
    stroke: #55B074 !important;
}

.instructions .list .item .checkedBox {
    margin-right: 7px;
    visibility: hidden;
    transition: 0.2s ease-in;
}

.instructions .list .item.ok .checkedBox {
    visibility: visible;
}

.customField .error.visible {
    opacity: 1;
}

.customField .icon.hidden, .customField .icon.dark.hidden {
    display: none;
}

.autosuggestContainer {
    position: relative;
}

.autoSuggestWrapper {
    position: relative;
}

.autosuggestContainer .autosuggest {
    display: none;
    position: absolute;
    top: 44px;
    width: min(100%, 250px);
    height: 291px;
    overflow: scroll;
    padding: 10px;
    background: white;
}

.autosuggestContainer.active .autosuggest {
    display: block;
}

.customField .autosuggest li {
    list-style: none;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s ease;
}

.customField .autosuggest li:hover {
    list-style: none;
    padding: 10px;
    background-color: #c5c5c5;
}

.customBtn {
    border-radius: 5px;
    background-color: #003d77;
    color: #f5f5f9;
    width: min(280px, 100%);
    text-align: center;
    padding: 10px;
    font-size: 15px;
    margin: 1.75rem auto 1rem auto;
    cursor: pointer;
}

.customBtn[disabled], button[disabled] {
    cursor: not-allowed;
    background-color: #424242 !important;
}

.forgottenPswd {
    font-size: 14px;
    color: #353535;
    text-decoration: underline;
    margin-bottom: 1.5rem;
    text-align: center;
}

.findClub {
    text-transform: uppercase;
    color: #003d77;
    font-size: 18px;
    font-weight: 500;
    word-spacing: 2px;
    text-align: center;
    padding-bottom: 20px;
}

.findClub .accent {
    font-weight: 700;
}

/*****************************************************  */
/* footer */
/*****************************************************  */
footer {
    position: relative;
    z-index: 1000;
    background-color: #e2e2e2;
    color: #212121d4;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 13px;
    width: 100%;
    right: 0;
}

.mainContainer.fullHeight footer {
    position: absolute;
}

footer .left {
    /*flex: 2;*/
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

footer .left .top {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 14px;
}

footer .left .top .item {
    margin-right: 15px;
    cursor: pointer;
    color: #1a1a1a;
}

footer .left .bottom {
    display: flex;
    justify-content: flex-start;
    margin-top: 9px;
}

footer .separation {
    padding-left: 5px;
}

footer .left .bottom .item {
    padding-left: 5px;

}

footer .right {
    flex: 1;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .logo {
    margin-bottom: 30px;
    height: 120px;
}

footer .logo img {
    object-fit: contain;
    height: 100%;
}

.socialsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialsContainer .button {
    width: 50px;
    height: 50px;
    border: 2px solid #FFFFFFA8;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    color: #FFFFFFA8;
    /* color: white; */
    position: relative;
    margin: 10px;
    overflow: hidden;
    text-decoration: none;
}

.socialsContainer .icon {
    z-index: 2;
}

.socialsContainer .fill {
    width: 120%;
    height: 120%;
    background-color: rgba(255, 255, 255, 0.87);
    border-radius: 50%;
    position: absolute;
    bottom: -50px;
    left: -50px;
    transition: all 0.5s ease;
}

.socialsContainer .button:hover .fill {
    transform: translate(45px, -45px);
}

.socialsContainer .button:hover .icon {
    color: #003D77;
}

/*****************************************************  */
/*account*/
/*****************************************************  */
.badgesWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}

.badge {
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.badge .img {
    height: 50px;
    width: 50px;
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.badge.grey .img {
    background-color: #D9D9D9;
}

.badge.grey svg {
    fill: #545454;
}

.badge.green .img {
    background-color: #8ACC8C;
}

.badge.green svg {
    fill: white;
}

.badge .label {
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    max-width: 80px;
    margin-top: 7px;
}

.accountSubtitle {
    color: white;
    font-size: 17px;
    text-align: center;
    font-weight: 500;
    font-style: italic;
    margin: auto;
    width: max-content;
    background: #9a9a9a;
    /*border-radius: 5px;*/
    padding: 7px 19px;
}

.statusLabel {
    font-weight: 400;
    font-style: normal;
}

.accountPage .pageTitle {
    padding-top: 15px;
    margin-bottom: 16px;
    font-size: clamp(1.9375rem, 1.825rem + 0.5625vw, 1.5rem);
}

/* account menu*/
.accountMenu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0 10px;
    border-bottom: 1px solid lightgrey;
    margin-top: 28px;
}

.accountMenuItem {
    color: #717171;
    padding: 10px;
    font-size: 15px;
    font-weight: 400;
    position: relative;
    transition: 0.5s ease;
    margin: 0 3px;
}

.accountMenuItem.active {
    color: #003d77;
}

.accountMenuItem::after {
    position: absolute;
    content: "";
    width: 98%;
    height: 2px;
    bottom: 0;
    right: 1px;
    background-color: #003d77;
}

.accountMenuItem::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    bottom: 0;
    right: 0;
    background-color: #f5f5f9;
    transition: 0.2s ease-in;
    transform: scaleX(1);
    transform-origin: right;
    z-index: 10;
}

.accountMenuItem:hover::before, .accountMenuItem.active::before {
    transform: scaleX(0);
}

/* end account menu*/
.accountContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #424242;
}

.accountContent .welcome {
    font-size: 19px;
    margin: 50px 0;
}

.formBlock {
    position: relative;
    width: 100%;
    padding: 11px 10px;
    font-size: 0.75rem;
    border: 2px #003d77 solid;
    border-radius: 5px;
    background: #f5f5f9;
    margin: 20px 0;
    max-width: 1200px;

}

.formBlockTitle {
    font-size: 1rem;
    color: #003d77;
    font-weight: 700;
    position: absolute;
    top: -14px;
    left: 7px;
    margin: 0 0 0 7px;
    padding: 0 8px;
    background: #f5f5f9;
    width: max-content;
    z-index: 1;
}

.formBlockWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: 15px 10px 3px;
    font-size: 14px;
    overflow: hidden;
}

.checkbox .formUnit {
    cursor: pointer;
}

.formBlockWrapper .formLine {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 10px;
    line-height: 27px;
}

.clubLogo {
    object-fit: contain;
    height: 150px;
    width: 150px;
}

.formBlockWrapper.inline, .formValueGroup.inline {
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: flex-start !important;
}

.formUnit {
    display: flex;
    margin: 0 16px 20px;
    flex-wrap: wrap;

    align-items: center;
}

.formSubtitle {
    text-align: center;
    color: #043f7b;
    font-weight: 500;
    margin: 45px 0 15px;
    text-transform: uppercase;
}

.formBlockWrapper.inline .formUnit .formLabel {
    min-width: unset;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.formBlockWrapper .modifyVisible{
    display: none;
}
.input[disabled] .datetime-reset-button {
    display: none;
}

.formBlockWrapper .formLabel {
    min-width: 180px;
    font-weight: 700;
}

.formBlockWrapper .formValueGroup {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
}

.formBlockWrapper .separator {
    height: 2px;
    width: min(332px, 100%);
    margin: 0 auto 20px;
    background-color: #acacac82;
}

.formBlockWrapper .formValue {
    margin-right: 15px;
    outline: none;
    background-color: #e9e9e9;
    border: none;
    color: #575757;
    margin-bottom: 3px;
    padding: 3px;
}

select.formValue {
    max-width: 256px;
}

.formBlockWrapper .formValue.unchangeable {
    background-color: transparent;
}

.formBlockWrapper .hiddenFields {
    overflow: hidden;
    transition: 0.5s ease-in-out;
    width: 540px;
    max-width: 100%;
    height: unset;
    min-height: max-content;
}

#emailForm .formValue {
    border-radius: 5px;
    padding: 8px 10px;
    font-size: 13px;
    margin-right: 10px;
}
.currentValue{
    margin-right: 10px;
    padding: 8px 10px;
    font-size: 13px
}
.comment{
    font-size: 13px;
    max-width: min(330px ,100%);
    text-align: center;
    color: #929292;
}
.formBlockWrapper.password .hiddenFields {

    height: 305px;
}

.formBlockWrapper .hiddenFields .instructions .text {
    text-align: justify;
}

.formBlockWrapper .hiddenFields .instructions {
    margin: auto;
    max-width: 100%;
}

.formBlockWrapper .hiddenFields .fields {
    display: flex;
}

.formBtn.relative {
    position: relative;
    right: 0;
    bottom: 0;
    margin-top: 0;
}

.formBlockWrapper .togglingFields {
    display: flex;
}

.formBlockWrapper .hiddenFields.hidden {
    width: 0;
    height: 0;
}

.formBlockWrapper .formTitle {
    width: 100%;
    font-weight: 600;
    text-align: center;
    margin-bottom: 11px;
    color: #003d77;
}

.formBlockWrapper .customField input {
    border: none;
    background: #e9e9e9;
}

.formBlockWrapper .customField .group .icon {
    border: none;
    background-color: white;
}

.formBlockWrapper .customField .group .icon.closed.dark svg path {
    stroke: #003d77 !important;
}

.formBlockWrapper .formValue.modifying {
    background-color: white;
    color: #424242;
}

/*.formBlockWrapper .formValue::placeholder{*/
/*    color:#424242;*/
/*}*/
.formBlockWrapper .formLineModify {
    color: #003d77;
    opacity: 0.7;
    text-decoration: underline;
    cursor: pointer;
}

.formValueGroup.hideForm {
    display: none;
}

.addAddress {
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
}

.formLine .group, .formUnit .group {
    display: flex;
}

.formLine .group .formValue, .formUnit .group .formValue {
    max-width: calc(256px - 37px);
}

.formLine .group .indicator, .formUnit .group .indicator {
    color: #003d77;
    background-color: #cce3f9;
    padding: 05px;
    border-radius: 5px 0 0 5px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 37px;
}

.formBtn {
    margin: 10px 0 0 auto;
    background-color: #003d77;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    width: 120px;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    position: absolute;
    right: 30px;
    bottom: 11px;
    border: none;
}

.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
    margin-right: 15px;
}

.sticker {
    background-color: #7c7b7b;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin: 0 7px 0 25px;
    box-shadow: 2px 2px 2px #cbcbcb;
    border: 2px solid #fff;
}

.sticker.green {
    background-color: #99d59a;
}

.sticker.orange {
    background-color: #e28a2d;
}

.sticker.yellow {
    background-color: #f1e205;
}

.switch .message.success, .checkbox .message.success {
    color: #494949;
    background: white;
    border-left: 5px solid rgb(138, 204, 140);
    position: absolute;
    top: 0;
    left: -100vw;
    font-size: 13px;
    transition: ease-in-out 0.2s;
    opacity: 0;
    width: max-content;
    padding: 5px 5px 5px 10px;
}

.switch .message.success.show, .checkbox .message.success.show {
    opacity: 1;
    top: -35px;
}

.switch input {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10;
    cursor: pointer;
    border: transparent;
}

.suggestionWrapper {
    position: relative;
    max-width: min(100%, 256px);
}

.suggestionWrapper .suggestion {
    position: absolute;
    top: 28px;
    left: 0;
    width: 100%;
    max-height: 150px;
    overflow-y: scroll;
    background-color: #e6e6e6;
    margin-right: 15px;

}

.suggestionWrapper .suggestion .item {
    background-color: white;
    margin-bottom: 1px;
    height: 30px;
    width: 100%;
    padding: 3px;
    cursor: pointer;
    z-index: 100;
    position: relative;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    border: 1px solid #adb5bd;
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 20px;
    left: 0.27em;
    bottom: 0.25em;
    background-color: #adb5bd;
    transition: .4s;
}

input:checked + .slider {
    background-color: #003d77;
    border: 1px solid #003d77;
}

input:focus + .slider {
    box-shadow: 0 0 1px #003d77;
}

input:checked + .slider:before {
    transform: translateX(1.4em);
    background-color: #fff;
}

.formLine.newsletter {
    margin-top: 30px;
}

.formLine.newsletter label span {
    font-weight: 500;
    color: #003d77;
}

.accountListWrapper {
    background-color: white;
    width: 100%;

}

.formLine.newsletter .notSubscribing {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 400px
}

.formLine.newsletter .notSubscribing .blacklist {
    margin-top: 15px;
    background-color: #003d77;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 14px;
}

.listLine {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 15px 25px;
    border-bottom: 3px solid #F5F5F9;
    font-size: 14px;
}

.listLine.mailList {
    justify-content: space-between;
}

.listLine.actionList {
    justify-content: flex-start;
}

.listLineLeft, .listLineRight {
    display: flex;
}

.mailList .seeMore {
    margin-right: 35px;
    display: inline;
    width: 111px;
    height: max-content;
    cursor: pointer;
}

.mailList .date, .actionList .date {
    width: 100px;
    text-align: right;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.listMailObject {
    max-width: 230px;
    overflow: hidden;
    margin-right: 20px;
    /*max-height: 21px;*/
}

.formValue.floating {
    position: absolute;
    top: 0;
    right: calc(50% - (256px / 2));
    transition: 1s ease-in-out;
}

select.floating.hidden {
    top: -100vh;
}

/*****************************************************  */
/*search */
/*****************************************************  */
.searchedTerm .value{
    text-align: center;
    border-radius: 5px;
    background-color: #e0e0e0;
    color: #003d77;
    border: 2px solid #3d3d3d54;
    padding: 5px 10px;
    font-weight: 600;
    min-width: 74px;
}
.searchedTerm .close{
    margin: auto 0 auto 10px;
    height: 20px;
    width: 20px;
    font-size: 11px;
    font-weight: bold;
    background-color: #e0e0e0;
    color: #003d77;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #3d3d3d54;

}
/*****************************************************  */
/*media queries*/
/*****************************************************  */


@media screen and (max-width: 1199px) {
    .topbar .searchContainer {
        margin-right: 0;
    }

    .searchBoxContainer .icon {
        margin: 0;
        font-size: 11px;
    }

    .userAccount {
        margin: 0 10px 0 5px;

    }

    .actionTopbar {
        margin-left: 15px;
    }

    .actionsTopbar {
        margin-right: 10px;
    }

    .topbar, .searchContainer .foster {
        font-size: 14px;
    }

    .searchContainer .foster {
        width: 91px;
    }
}

@media screen and (max-width: 991px) {
    .mainContainer {
        padding-left: 0;
    }

    /*.navbar {*/
    /*    width: 100%;*/
    /*    z-index: 1010;*/
    /*    background-color: #8597bad1;*/
    /*}*/
    .topbar {
        padding-left: 0;
    }

    .actionsTopbar {
        display: none;
    }

    .logoMobile {
        display: flex;
        align-items: center;
        position: fixed;
        top: 5px;
        left: 10px;
        color: #3e3e3e;
    }

    .logoMobile img {
        object-fit: contain;
        height: 40px;
        width: 40px;
        margin-right: 10px;
    }

    .navbar .menuItem {
        background-color: #C0C2C7;
    }

    .navbar.hidden {
        transform: translateX(-100%);
    }

    .hamburger, .hamburger.close .line {
        transition: all 0.5s ease-in-out;
    }

    .hamburger.close .line:nth-child(2) {
        opacity: 0;
    }

    .hamburger.close .line:nth-child(1) {
        transform: rotate(45deg);
        transform-origin: left;
    }

    .hamburger.close .line:nth-child(3) {
        transform: rotate(-45deg);
        transform-origin: left;
        top: 35px;
    }

    footer {
        flex-direction: column-reverse;
        width: 100%;
        /*padding-top: 50px;*/
        z-index: 0;
    }

    footer .left {
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0;
    }

    .hamburgerIcon {
        display: block;
        position: absolute;
        right: -40px;
        height: 70px;
        width: 80px;
        top: calc(50vh - 20px);
        z-index: 3;
        color: black;
        cursor: pointer;
        background-color: #003d77;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        padding: 20px;
    }

    .accountSubtitle {
        background-color: #003d77;
    }

    .listLine {
        cursor: pointer;
        align-items: flex-start;
        padding: 15px;
    }

    .listLineLeft {
        flex-direction: column;
    }

    .mailList .seeMore {
        display: none;
    }

    .listMailObject {
        margin-bottom: 15px;
        max-width: unset;
        margin-right: 5px;
    }

    /*.mailList .date.dark{*/
    /*    font-size: 12px;*/
    /*    font-weight: normal;*/
    /*    width: 90px;*/
    /*    line-height: 23px;*/
    /*}*/

}

@media screen and (max-width: 670px) {
    footer .top {
        display: none !important;
    }

    footer .bottom .item {
        margin-bottom: 15px;
    }

    footer .bottom {
        flex-direction: column;
    }

    footer .separation {
        display: none !important;
    }

    .fosterRegister {
        /*margin-bottom: 1rem;*/
    }

    .fosterContainer {
        flex-direction: column;
    }

    .authTitle {
        margin: 2rem 0 1.1rem;
        padding: 0 15px;
        font-size: 1.5rem;
    }

    .formBtn {
        position: relative;
        margin: auto;
        right: 0;
        top: 0;
    }
}

@media screen and (max-width: 575px) {
    .fosterRegister, .firstConnexion {
        font-size: 0.9rem;
    }

    .authLogo {
        display: none;
    }

    .pageTitle {
        font-size: 27px;
        padding-top: 105px;
    }

    .accountPage .pageTitle {
        padding-top: 75px;
    }

    .welcomePage h1 {
        font-size: 27px;
        padding: 0 16px;
    }

    .navbar .menuItem {
        font-size: 15px;
    }

    .navbar .menuItem a {
        padding: 13px;
    }

    .hamburger {
        width: 41px;
        height: 35px;
    }

    .hamburger .line:nth-child(2) {
        top: 14px;
    }

    .hamburger .line:nth-child(3) {
        top: 28px;
    }

    .hamburger.close .line:nth-child(3) {
        top: 30px;
    }

    .logoMobileRight {
        display: none;
    }

    .cardContainer .card {
        margin: 35px 10px;
    }

    .accountMenuItem {
        font-size: 13px;
    }

    .accountSubtitle {
        font-size: 15px;
    }

    .pageCanva.accountPage {
        padding: 3%;
    }

    .accountMenu {
        padding: 0;
        justify-content: center;
    }

    .switch {
        width: 2.5em;
        height: 1.5em;

    }

    .slider::before {
        height: 21px;
        width: 21px;
        left: 2px;
        bottom: 2px;;
    }

    input:checked + .slider::before {
        transform: translateX(14px);
    }

    .formLine.newsletter {
        font-size: 15px;
        max-width: 90%;
        text-align: center;
    }

    .listLine.mr25 {
        margin-right: 0;
    }

    .listLine {
        flex-direction: column;
    }

    .actionList .date {
        margin-left: 0;
        width: auto;
        margin-top: 10px;
    }

    .mailList .date.dark {
        text-align: left;
        font-size: 14px;
        margin-top: 10px;
        width: auto;
    }

    .listMailObject {
        max-width: unset;
        margin-right: 0;
        max-height: unset;
    }
}

@media screen and (max-width: 375px) {
    .accountMenuItem {
        /*height: 58px;*/
        display: flex;
        align-items: center;
        padding: 5px;
    }
}
