.alertDanger {
    background-color: #f8d7da;
    color: #58151c;
    border-left: 5px solid #f1aeb5;
    padding: 20px;
    width: max-content;
    margin: 70px auto 0px;
}
.alertSuccess {
    background-color: #d1e7dd;
    color: #0a3622;
    border-left: 5px solid #a3cfbb;
    padding: 20px;
    width: max-content;
    margin: 70px auto 0;
}
.previousPage {
    margin-left: 25px;
}
